html
{
    scroll-behavior: smooth;
}
body
{
    background-color: #090C0F;
}
#MainLogo
{
    margin-top: 20%;
    width: 50%;
}
header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title
{
    color: wheat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
#menuDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    align-items: center;
    /* border: 3px solid wheat; */
}
.InnerDivs
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 50px;
    border: 8px solid wheat;
    border-radius: 10px;

    background-color: wheat;
    margin-top: 5%;
}
#LinksMainDiv
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 20px;
}
.LinkDivs
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 10px;
    width: 60px;
    background-color: wheat;
    border-radius: 10px;
}
#miniuDiv
{
    /* bottom: 0px; */
    /* position: fixed; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    align-self: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
}
#whatsapp
{
    text-decoration: none;
    color: #090C0F;
    font-size: 25px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
}
option
{
    width: 45px;
    height: 45px;
}
#whatsappImg
{
    width: 80%;
}
.menuA
{
    text-decoration: none;
    color: #090C0F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 20px;
}
.replaceWomen
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: wheat;
    font-size: 20px;
}
.mainPhoto
{
    width: 150px;
}
.secondPhoto
{
    width: 150px;
}
#Welcome
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcoming
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: wheat;
    margin-top: 20px;

    text-align: center;
}
.secondPhotoDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainPhotoDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainWomanDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.real
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: wheat;
    text-align: center;
    font-size: 15px;
}
#womenSection
{
    border-bottom: 5px solid wheat;
}
#menSection
{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid wheat;
}
#unisexSection
{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid wheat;
}
#kidsSection
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20%;
}
/* ===== Footer ===== */
.footer{
  border-top:1px solid #0b1a2e;background:#061225;
  padding:22px 16px;text-align:center;color:#a8bac7
}
#design
{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0px;
    margin-top: 40px;
}
